{% extends "layouts/base.html" %}

{% block title %} Requests {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="container-fluid py-4">
    <a href="{{ url_for('general_bp.index') }}" class="btn btn-secondary mb-3">
      <i class="fas fa-arrow-left"></i> Back
  </a>
  <div class="row">
    <div class="col-12">
      <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
            <h6 class="text-white text-capitalize ps-3">Pending Print Requests</h6>
          </div>
        </div>
        <div class="card-body px-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Request Name</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Total Documents</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Details</th>
                </tr>
              </thead>
              <tbody>
                {% for request in user.status_pending[::-1] %}
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">{{ request.name }}</h6>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p class="text-xs font-weight-bold mb-0">{{ request.documentsAssigned | length }}</p>
                  </td>
                  <td class="align-middle text-center text-sm">
                    {% if request.PrintsRequestStatus %}
                    <span class="badge badge-sm bg-gradient-success">Done</span>
                    {% else %}
                    <span class="badge badge-sm bg-gradient-secondary">Pending</span>
                    {% endif %}
                    
                  </td>
                  <td class="align-middle text-center">
                    <a href="{{ url_for('general_bp.requests_detail', _id=request._id) }}" class="btn btn-sm btn-primary">
                      See Details
                    </a>
                    
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  
    <div class="row">
      <div class="col-12">
        <div class="card my-4">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
              <h6 class="text-white text-capitalize ps-3">Printed Print Requests</h6>
            </div>
          </div>
          <div class="card-body px-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Request Name</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Total Documents</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Details</th>
                  </tr>
                </thead>
                <tbody>
                  {% for request in user.status_done[::-1] %}
                  <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm">{{ request.name }}</h6>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="text-xs font-weight-bold mb-0">{{ request.documentsAssigned | length }}</p>
                    </td>
                    <td class="align-middle text-center text-sm">
                      {% if request.PrintsRequestStatus %}
                      <span class="badge badge-sm bg-gradient-success">Done</span>
                      {% else %}
                      <span class="badge badge-sm bg-gradient-secondary">Pending</span>
                      {% endif %}
                    </td>
                    <td class="align-middle text-center">
                      <a href="{{url_for('general_bp.requests_detail', _id=request._id)}}" class="btn btn-sm btn-primary">
                        See Details
                      </a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include "includes/footer.html" %} 
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
