<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 bg-gradient-dark" id="sidenav-main">
  <div class="sidenav-header">
      <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
      <a class="navbar-brand m-0" href="https://appseed.us/product/material-dashboard/flask/" target="_blank">
          <img src="/static/assets/img/logo-ct.png" class="navbar-brand-img h-100" alt="main_logo">
          <span class="ms-1 font-weight-bold text-white">Tikun Automation</span>
      </a>
  </div>
  <hr class="horizontal light mt-0 mb-2">
  <div style="height: 100vh;" class="w-auto h-full" id="sidenav-collapse-main">
      <ul class="navbar-nav">
          <!-- Dashboard -->
          <li class="nav-item">
              <a class="nav-link text-white {% if 'index' in segment %} active bg-gradient-primary {% endif %}" href="/">
                  <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                      <i class="material-icons opacity-10">dashboard</i>
                  </div>
                  <span class="nav-link-text ms-1">Dashboard</span>
              </a>
          </li>

          <!-- Toyota Pages Dropdown -->
          <li class="nav-item mt-3">
              <a class="nav-link dropdown-toggle text-white" data-bs-toggle="collapse" href="#toyota-pages" role="button" aria-expanded="{% if 'tables' in segment or 'auto_email' in segment or 'auto_text' in segment %}true{% else %}false{% endif %}" aria-controls="toyota-pages">
                <i class="material-icons">directions_car</i>  
                <h6 class="ps-4 ms-2 text-uppercase text-xs text-white font-weight-bolder opacity-8">Toyota work</h6>
              </a>
              <div class="collapse {% if 'tables' in segment or 'auto_email' in segment or 'auto_text' in segment %}show{% endif %}" id="toyota-pages">
                  <ul class="nav flex-column ms-4">
                      <li class="nav-item">
                          <a class="nav-link text-white {% if 'tables' in segment %} active bg-gradient-primary {% endif %}" href="{{url_for('general_bp.leads')}}">
                              <i class="material-icons opacity-10">table_view</i>
                              <span class="nav-link-text ms-1">All Leads</span>
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link text-white {% if 'auto_email' in segment %} active bg-gradient-primary {% endif %}" href="{{url_for('general_bp.AUTO_EMAIL')}}">
                              <i class="material-icons opacity-10">table_view</i>
                              <span class="nav-link-text ms-1">Auto Email</span>
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link text-white {% if 'auto_text' in segment %} active bg-gradient-primary {% endif %}" href="{{url_for('general_bp.AUTO_TEXT')}}">
                              <i class="material-icons opacity-10">table_view</i>
                              <span class="nav-link-text ms-1">Auto TEXT</span>
                          </a>
                      </li>
                  </ul>
              </div>
          </li>

          <!-- Scouter Pages Dropdown -->
          <li class="nav-item mt-3">
              <a class="nav-link dropdown-toggle text-white" data-bs-toggle="collapse" href="#scouter-pages" role="button" aria-expanded="{% if 'add-city' in segment %}true{% else %}false{% endif %}" aria-controls="scouter-pages">
                <i class="material-icons">search</i>  
                <h6 class="ps-4 ms-2 text-uppercase text-xs text-white font-weight-bolder opacity-8">Scouter pages</h6>
              </a>
              <div class="collapse {% if 'add-city' in segment %}show{% endif %}" id="scouter-pages">
                  <ul class="nav flex-column ms-4">
                      <li class="nav-item">
                          <a class="nav-link text-white {% if 'add-city' in segment %} active bg-gradient-primary {% endif %}" href="{{url_for('scouter_bp.Add_city')}}">
                              <i class="material-icons opacity-10">table_view</i>
                              <span class="nav-link-text ms-1">Add city's all places </span>
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link text-white {% if 'add-place' in segment %} active bg-gradient-primary {% endif %}" href="{{url_for('scouter_bp.Add_city')}}">
                              <i class="material-icons opacity-10">table_view</i>
                              <span class="nav-link-text ms-1">Add place </span>
                          </a>
                      </li>
                  </ul>
              </div>
          </li>

          <!-- Clearladder Dropdown -->
          <li class="nav-item mt-3">
              <a class="nav-link dropdown-toggle text-white" data-bs-toggle="collapse" href="#clearladder-pages" role="button" aria-expanded="{% if 'c-leads' in segment %}true{% else %}false{% endif %}" aria-controls="clearladder-pages">
                <i class="material-icons">trending_up</i>  
                <h6 class="ps-4 ms-2 text-uppercase text-xs text-white font-weight-bolder opacity-8">Clearladder</h6>
              </a>
              <div class="collapse {% if 'c-leads' in segment %}show{% endif %}" id="clearladder-pages">
                  <ul class="nav flex-column ms-4">
                      <li class="nav-item">
                          <a class="nav-link text-white {% if 'c-leads' in segment %} active bg-gradient-primary {% endif %}" href="/notifications.html">
                              <i class="material-icons opacity-10">table_view</i>
                              <span class="nav-link-text ms-1">All Leads</span>
                          </a>
                      </li>
                     
                  </ul>
              </div>
          </li>


           <!-- Asesoria Autos Dropdown -->
           <li class="nav-item mt-3">
            <a class="nav-link dropdown-toggle text-white" data-bs-toggle="collapse" href="#Asesoria-Autos-pages" role="button" aria-expanded="{% if 'a-leads' in segment %}true{% else %}false{% endif %}" aria-controls="Asesoria-Autos-pages">
                <i class="material-icons">directions_car</i>
                <h6 class="ps-4 ms-2 text-uppercase text-xs text-white font-weight-bolder opacity-8">Asesoria Autos</h6>
            </a>
            <div class="collapse {% if 'a-leads' in segment %}show{% endif %}" id="Asesoria-Autos-pages">
                <ul class="nav flex-column ms-4">
                    <li class="nav-item">
                        <a class="nav-link text-white {% if 'a-leads' in segment %} active bg-gradient-primary {% endif %}" href="/notifications.html">
                            <i class="material-icons opacity-10">table_view</i>
                            <span class="nav-link-text ms-1">All Leads</span>
                        </a>
                    </li>

                </ul>
            </div>
        </li>





         <!-- lOGOUT-->
        <li class="nav-item">
            <a class="nav-link text-white" href="{{ url_for('general_bp.logout') }}">
                <i class="material-icons opacity-10">directions_run</i>
                <span class="nav-link-text ms-1">Logout</span>
            </a>
        </li>
      </ul>
  </div>
</aside>
